/* HERO*/

.mt-n1 {
    margin-top: 20px !important;
}

.Colorbg {
    background-color: $background-color_2;
}

.Presentation {
    margin-top: 200px;
    size: 18px;
}

.contacto {
    .estiloh2 {
        text-align-last: right;
    }
}